body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: auto;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  height: 25px;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  background-color: #8d94ba;
  border: 1px solid #8d94ba;
  border-radius: 25px;
}

#bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 300px;
}

#footer {
  height: 25px;
}

h1,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 72px;
}
