body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: auto;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  height: 25px;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  background-color: #8d94ba;
  border: 1px solid #8d94ba;
  border-radius: 25px;
}

#bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 300px;
}

#footer {
  height: 25px;
}

#gallery {
  position: relative;
  top: 0;
  left: 0;
}

#gallery > #navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: transparent;
  z-index: 1;
  width: 97%;
  padding: 10px;
}

#3dworld {
  position: absolute;
  top: 0;
  left: 0;
}

h1,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 72px;
}

.player,
#exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: monospace;
}

a {
  text-decoration: none;
}

#exit-button {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 3px;
}

#icon {
  width: 25px;
  height: 25px;
}
